@using annons_web.Controllers;
@using annons_web.Models;

@model IEnumerable<AdListItemViewModel>;

@{
    ViewData["Title"] = "Annonser";
}
@if (TempData["ImportError"] != null)
{
    <div class="alert alert-danger">@TempData["ImportError"]</div>
}

@if (TempData["ImportSuccess"] != null)
{
    <div class="alert alert-success">@TempData["ImportSuccess"]</div>
}

<div class="head-item">
    <h2>Annonser</h2>
    <a class="btn1" asp-action="Create" asp-controller="Ads">Skapa annons</a>
</div>


<a class="btn2" href="http://localhost:5021/api/subscribers/export/xml">
    Exportera xml
</a>

<form asp-action="ImportXml" method="post" enctype="multipart/form-data">
    <label for="fileUpload" class="btn2">Importera XML</label>
    <input type="file" id="fileUpload" name="file" hidden onchange="this.form.submit()"/>
</form>

<form method="get" asp-action="Index">
    <select name="selectedCurrency" onchange="this.form.submit()">
        <option value="SEK" selected="@(ViewBag.SelectedCurrency == "SEK")">SEK</option>
        <option value="EUR" selected="@(ViewBag.SelectedCurrency == "EUR")">EUR</option>
        <option value="USD" selected="@(ViewBag.SelectedCurrency == "USD")">USD</option>
        <option value="GBP" selected="@(ViewBag.SelectedCurrency == "GBP")">GBP</option>
    </select>
</form>

<div class="marketplace-grid">
    @foreach (var ad in Model)
    {
        <div class="market-card">
            <div class="market-card-image">
                <span>Ingen bild</span>
            </div>

            <div class="market-card-body">
                <div class="market-price">@ad.DisplayPrice @ad.Currency</div>
                <div class="market-title">@ad.Title</div>
                <div class="market-meta">
                    Ort: @ad.City <br>
                    Annonsavgift: @ad.DisplayFee @ad.Currency
                </div>
                <div class="market-description">@ad.Content</div>
                <div class="market-footer">
                    <span class="market-seller">@ad.SellerName</span>
                    @if (ad.AdvertiserType.ToString() == "Company")
                    {
                        <span class="market-badge company">Företag</span>
                    }
                    else
                    {
                        <span class="market-badge subscriber">Prenumerant</span>
                    }
                </div>
            </div>
        </div>
    }
</div>